DEBUG=1
SECRET_KEY='django-insecure-nhyxu&!qdm@3-u)#$_6=##19f656)b0q8h!uk2p*vewo4jr7t8'
POSTGRES_ENGINE=django.db.backends.postgresql_psycopg2
POSTGRES_DB=authdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=01713447728
POSTGRES_HOST=auth-db
POSTGRES_PORT=5432

# JWT and other vars
JWT_SECRET=supersecretjwtkey
JWT_ALGORITHM=HS256
ALLOWED_HOSTS=127.0.0.1,localhost

# Email (SMTP) settings
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=sg2plzcpnl476824.prod.sin2.secureserver.net
EMAIL_PORT=465
EMAIL_HOST_USER=info@expotechglobal.com
EMAIL_HOST_PASSWORD=Ca[_TcR^!O$]
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
DEFAULT_FROM_EMAIL=MyApp <info@expotechglobal.com>
SERVER_EMAIL=info@expotechglobal.com


# Celery/Redis
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

# Service / Audit
AUTH_SERVICE_AUDIT_URL=http://auth-web:8001/api/v1/audit/
SERVICE_API_TOKEN=    # set after creating svc token
SERVICE_NAME=auth-service
AUDIT_LOCAL_QUEUE=/tmp/auth_audit_queue.log


k=somevalue
n9wg2tk=somevalue
o=somevalue
