DEBUG=1
SECRET_KEY=django-insecure-no9k!qwhh+d06$*$k=fgt0$n9wg2tk=pt&+iynnic*h%sz3v$o
POSTGRES_DB=companydb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=01713447728
POSTGRES_HOST=auth-db
POSTGRES_PORT=5432
ALLOWED_HOSTS=localhost,127.0.0.1
